/*========================================

	Buttons
	_____________


========================================*/

// @mixin primary-color-way {
// 	color: $primary;
// 	background: $accent;
// 	border-color: $accent;
// }

// @mixin disabled-color-way {
// 	color: $primary;
// 	background: $secondary;
// 	border-color: $secondary;
// }

.btn,
button {
	margin: 0;
	border: 0;
	padding: 0;
	cursor: pointer;
	overflow: hidden;
	appearance: none;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	@include rf(normal, 16);
	background: transparent;
	text-transform: uppercase;
	&[disabled] {
		cursor: not-allowed;
		//@include disabled-color-way;
		&:hover,
		&:focus {
			//@include disabled-color-way;
		}
	}
}

.btn-padded {
	border: 1px solid;
	padding: 10px 25px;
	border-radius: 3px;
}

.btn-block-primary {
	//@include primary-color-way;
	&:hover,
	&:focus {
		//@include primary-color-way;
	}
}
