/*========================================

	Colour Styles
	_____________

========================================*/

/*========================================

	Normal Colours

========================================*/

$white-default:  #fff;
$black-default:  #000;

/*========================================

	Main Colours 

========================================*/

$primary:       #2a2b2f;
$secondary:     #efefef;
$accent:        #34dddd;
$error:         #ffbaba;
$success:       #dff2bf;

/*========================================

	Colour Variations

========================================*/

$primary-variation-1:       #646466;
$secondary-variation-1:     #f9f9f9;

/*========================================
	 
	Colour Classes

========================================*/

$color-list: primary, secondary, accent, primary-variation-1, secondary-variation-1, white-default, black-default, error, success;
$color-list-vars: $primary, $secondary, $accent, $primary-variation-1, $secondary-variation-1, $white-default, $black-default, $error, $success;

@for $i from 1 through length($color-list) {
	.bg-#{nth($color-list, $i)} {
		background: nth($color-list-vars, $i);
	}
	.color-#{nth($color-list, $i)} {
		color: nth($color-list-vars, $i);
	}
}
