/*========================================

    Button Styles
    _____________


========================================*/   

@mixin primary-colorWay {
    color: $primary;
    background: $secondary;
    border-color: $secondary;
}

@mixin disabled-colorWay {
    color: $grey;
    background: $secondary;
    border-color: $secondary; 
}

.btn, button, input[type='submit'] { 
    width: 100%;
    display: inline;
    appearance: none; 
    overflow: hidden;
    text-align: center;
    padding: 10px 35px;
    @include transition;
    @include heading-font;
    text-decoration: none;
    @include font-size(12);
    text-transform: uppercase; 
    &[disabled] {
        @include disabled-colorWay;
        &:hover, &:focus {
            @include disabled-colorWay;
        }
    }
}

.btn-block-dark {
    background: $primary;
    border: 1px solid $primary; 
    color: $secondary;
    &:hover, &:focus {
        @include primary-colorWay;
    }
}
