/*========================================

	Helpers
	_____________

========================================*/

/*========================================

	Margin Helpers

========================================*/

.margin-bottom {
	&--none {
		margin-bottom: 0;
	}
	&--md {
		margin-bottom: spacing(medium);
	}
}

/*========================================

	List Helpers

========================================*/

.block-list {
    @include block-list;
}

.inline-list {
    @include inline-list;
}

.styled-list {
	margin-left: spacing(medium);
	margin-bottom: spacing(small);
	li {
		margin-bottom: .5em;
		&:last-child {
	        margin-bottom: 0;
	    }
	}
}

.scrollable-list {
	@include inner-scroll;
	&--on-mobile {
		@include breakpoint(phablet) {
			display: block;
		}
	}
}

/*========================================

	Container Helpers

========================================*/

%clearfix {
	&::before,
	&::after {
		content: '';
		display: table;
	}
	&::after {
		clear: both;
	}
}

.clearfix {
	@extend %clearfix;
}

.same-height-children {
	display: block;
	@include breakpoint(phablet) {
		display: flex;
		align-items: stretch;
	}
}

/*========================================

	Position Helpers

========================================*/

%visually-hidden {
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	position: absolute;
}

.visually-hidden {
	@extend %visually-hidden;
}

.hidden {
	display: none;
	&--on-mobile {
		@include breakpoint(phablet) {
	        display: block;
	    }
	}
}

.shown {
	display: block;
}

/*========================================

	Text Helpers

========================================*/

.text-center {
	text-align: center;
}
