/*========================================

	Grid
	_____________

========================================*/

.container {
	margin: 0 auto;
	padding: 0 10px;
	max-width: $grid-max-width + px;
}

.row {
	@extend %clearfix;
}

@for $i from 1 through $grid-columns {
	.col-#{$i} {
		float: left;
		margin: 0 ($gutter-width-percentage / 2);
		width: 100% - $gutter-width-percentage;
		@include breakpoint(phablet) {
			width: ((100% / $grid-columns) * $i) - $gutter-width-percentage;
		}
	}
}

.mobile-half {
	width: ((100% / $grid-columns) * 6) - $gutter-width-percentage;
}
.mobile-third {
	width: ((100% / $grid-columns) * 4) - $gutter-width-percentage;
}
